<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Mis datos
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item lines="none">
  </ion-item>
  <ion-avatar class="ion-text-center">
  <img alt="Silhouette of a person's head" src="https://ionicframework.com/docs/img/demos/avatar.svg" />
</ion-avatar>
  <ion-list (ionChange)="changeForm()">
    <ion-list-header>
      <ion-label>Ingresa tus datos</ion-label>
    </ion-list-header>
    <ion-item>
      <!--Nombre-->
      <ion-label color="primary">Tu nombre:</ion-label>
      <ion-note [hidden]="name" color="danger">*</ion-note>
      <ion-input [(ngModel)]="name" class="ion-text-right" placeholder="ej. Fernando Calleja"></ion-input>
    </ion-item>
    <ion-item>
      <!--empresa-->
      <ion-label color="primary">Nombre de la empresa:</ion-label>
      <ion-note [hidden]="company" color="danger">*</ion-note>
      <ion-input [(ngModel)]="company" class="ion-text-right" placeholder="ej. Condor innovation"></ion-input>
    </ion-item>
    <ion-item>
      <!--Sector-->
      <ion-label color="primary">Sector:</ion-label>
      <ion-note [hidden]="sector" color="danger">*</ion-note>
      <ion-select [(ngModel)]="sector" placeholder="seleccione">
        <ion-select-option value="Insectos">Insectos</ion-select-option>
        <ion-select-option value="Acuícola">Acuícola</ion-select-option>
        <ion-select-option value="Agrícola">Agrícola</ion-select-option>
        <ion-select-option value="Ganadero">Ganadero</ion-select-option>
        <ion-select-option value="Zoo - PIMVS">Zoo - PIMVS</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <!--Rol-->
      <ion-label color="primary">Rol dentro de la empresa:</ion-label>
      <ion-note [hidden]="rol" color="danger">*</ion-note>
      <ion-select [(ngModel)]="rol" placeholder="seleccione">
        <ion-select-option value="Director general">Director general</ion-select-option>
        <ion-select-option value="del área de ventas">Vendedor</ion-select-option>
        <ion-select-option value="del área de Recursos Humanos">Recursos Humanos</ion-select-option>
        <ion-select-option value="consultor">Consultor</ion-select-option>
        <ion-select-option value="empleado">Empleado</ion-select-option>
        <ion-select-option value="empleado">Otro</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <!--telefono-->
      <ion-label color="primary">Teléfono de contacto:</ion-label>
      <ion-note [hidden]="telefono" color="danger">*</ion-note>
      <ion-input [(ngModel)]="telefono" type="number" class="ion-text-right" placeholder="ej. 5512681489"></ion-input>
    </ion-item>
    <ion-item>
      <!--correo electrónico-->
      <ion-label color="primary">E-mail:</ion-label>
      <ion-note [hidden]="correo" color="danger">*</ion-note>
      <ion-input [(ngModel)]="correo" type="email" class="ion-text-right" placeholder="ej. fercalleja@gmail.com"></ion-input>
    </ion-item>
    <ion-item lines="none">
      <!--tag-->
      <ion-label color="danger">{{text}}</ion-label>
    </ion-item>
  </ion-list>
</ion-content>