<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Inicio</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <img alt="logo" src="../../assets/icon/logo transparent.png" />
  <ion-grid>
    <ion-row class="ion-text-center" style="height: 100%">
      <ion-col>
        <ion-card button [routerLink]="['/tabs','tab4']" color="primary">
          <ion-thumbnail>
            <img alt="ícono" src="../../assets/icon/icons/local_moni.png" />
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title color="light">Monitoreo Interno</ion-card-title>
          </ion-card-header>
          <!--ion-card-content>
            Monitoreo en el mismo sitio.
          </ion-card-content-->
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card button url="/tab1" [routerLink]="['/tabs','tab1']" color="primary">
          <ion-thumbnail>
            <img alt="ícono" src="../../assets/icon/icons/cloud_moni.png"/>
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title color="light">Monitoreo online</ion-card-title>
          </ion-card-header>
          <!--ion-card-content>
            Monitoreo desde cualquier lugar.
          </ion-card-content-->
        </ion-card>
      </ion-col>
    </ion-row>
    <ion-row class="ion-text-center" style="height: 100%">
      <ion-col>
        <ion-card button [routerLink]="['/tabs','tab2']" color="primary">
          <ion-thumbnail>
            <img alt="ícono" src="../../assets/icon/icons/parameters.png"/>
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title color="light">Parámetros</ion-card-title>
          </ion-card-header>
          <!--ion-card-content>
            Red y rangos de los equipos.
          </ion-card-content-->
        </ion-card>
      </ion-col>
      <ion-col>
        <ion-card button [routerLink]="['/devices']" color="primary">
          <ion-thumbnail>
            <img alt="ícono" src="../../assets/icon/icons/devices.png"/>
          </ion-thumbnail>
          <ion-card-header>
            <ion-card-title color="light">Dispositivos</ion-card-title>
          </ion-card-header>
          <!--ion-card-content>
            Equipos vinculados a la app.
          </ion-card-content-->
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>